@import "tailwindcss";

@theme {
    --color-primary: #32cd32;
    --color-primary-hover: color-mix(in srgb, var(--color-primary) 90%, white);
}

.bg-primary-gradient {
    background: linear-gradient(135deg, #32cd32 0%, #b7e4c7 100%);
}
