@import "tailwindcss";

@theme {
    --color-primary: #32cd32;
    --color-primary-foreground: #ffffff;
    --color-secondary: #f4f4f4;
    --color-secondary-foreground: #111827;
}

@utility bg-primary {
    background-color: var(--color-primary);
}
@utility text-primary {
    color: var(--color-primary);
}

.bg-primary-gradient {
    background: linear-gradient(135deg, #32cd32 0%, #b7e4c7 100%);
}

@layer utilities {
    .bg-texture {
        background-color: #ffffff;
        background-image: url("https://www.transparenttextures.com/patterns/xv.png");
        background-repeat: repeat;
        background-size: auto;
        background-position: center;
    }
}
